.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    border: solid 3px white;
    height: 250px;
    width: 400px;
    margin: 40px auto;
    border-radius: 20px;
}
.box img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}
.title{
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    transform: rotate(-20deg);
}
.title:hover{
    color: white;
}
i{ 
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
i:hover{
    color: greenyellow;
}